<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
    <servlet-name>CreateNewDriver</servlet-name>
    <servlet-class>com.godev.pickmeapp.newDriver</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveDriver</servlet-name>
    <servlet-class>com.godev.pickmeapp.deleteDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveDriver</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewDriver</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>list.jsp</welcome-file>
  </welcome-file-list>
</web-app>
